:root{
    --secondaryColor: #f9b17a;
    --colorTwo: #676f9d;
    --textColor: #FFFBFB;
    --primaryColor: #2D3250;
    --mainColor: #1A202C;
}
*{
    color: var(--textColor);
    font-family: poppins;
}
/* Sign Up Page  */
.formPage{
    background-color: var(--primaryColor);
    width: 80%;
    height: 35em;
    padding-top: 45px;
    font-family: poppins;
    overflow: hidden;
}
.formContainer{
    position: absolute;
    top: 12%;
    left: 12%;
    width: 20em;
    height: 33em;
    background-color: rgba(255, 255, 255, .45);;
    padding: 0px 40px;
    border-radius: 25px;
    box-shadow: 3px 10px 30px var(--mainColor);
    z-index: 1;
    backdrop-filter: blur(5px);
}
.formContainer .logo{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    padding-top: 30px;
}
.formContainer img{
    width: 2em;
    height: 2em;
    filter: drop-shadow(1px 1px 3px var(--mainColor));
}
.formContainer h1{
    font-size: 2em;
    font-family: montserrat;
    color: var(--textColor);
    text-shadow: 1px 1px 5px var(--mainColor);
}
.formContainer h2{
    font-size: 1em;
    font-family: poppins;
    color: var(--mainColor);
}
.signupForm input{
    width: 21.4em;
    padding: 14px 18px;
    outline: none;
    border: 1px solid var(--mainColor);
    border-radius: 10px;
    
}
.signupForm input[type="submit"]{
    width: 24em !important;
    background-color: var(--primaryColor);
    color: #fff;
    font-family: poppins;
    cursor: pointer;
}
.signupForm .login{
    display: flex;
    justify-content: space-between;
    color: var(--textColor);
}
.login a{
    color: var(--textColor);
    font-size: 0.9em;
}
a{
    text-decoration: none;
}
.animationSide{
    position: absolute;
    right: 10%;
    top: 23%;
}
.animationSide img{
    width: 20em;
    border-radius: 20px;
    animation: loginAnimate 7s linear infinite;
    opacity: 0;
    z-index: 10;
}
@keyframes loginAnimate {
    100% {margin-right: -20em; transform: rotate(0deg); opacity: 0;}
    75% {opacity: 1;}
    50% {margin-right: 0%; transform: rotate(360deg); opacity: 1;}
    0% {margin-right: -20em; opacity: 0;}
}
.animationSide img:nth-child(1){
    animation-delay: 3s;
}
.animationSide img:nth-child(2){
    animation-delay: 10s;
}
.animationSide img:nth-child(3){
    animation-delay: 20s;
}
.animationSide img:nth-child(4){
    animation-delay: 31s;
}
.animationSide img:nth-child(5){
    animation-delay: 40s;
}

header{
    width: 100%;
    height: 100vh;
    /* background: url(./img/main\ image.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat; */
}
.top{
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}
.topFirst{
    display: flex;
    justify-content: center;
    align-items: center;
}
.topFirst i{
    color: var(--secondaryColor);
}
.texts{
   display: grid;
   
   align-items: center;
}
.texts *{
    padding-left: 10px;
}
.topSecond{
    display: flex;
    justify-content: space-around;
}
.topSecond input{
    width: 40em;
    padding: 12px 18px;
    border-radius: 25px;
    outline: none;
    border: none;
    color: #1A202C;
}
.searchbtn{
    background-color: var(--secondaryColor);
    color: #fff;
    height: 3em;
    width: 3em;
    border-radius: 25px;
}
.topThird{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.topThird *{
    width: 3em;
    height: 3em;
    border-radius: 50%;
}
.cart{
    display: grid;
    align-items: center;
    background-color: #fff;
}
.cart i{
    position: relative;
    left: 30%;
    top: 35%;
    color: var(--secondaryColor);
}
.navbar-brand img{
    display: block;
    width: 1.5em;
}
.navbar-brand{
    display: flex;
    gap: 10px;
}
.navbar-brand span{
    font-size: 1.2em;
}
.navbar-collapse{
    padding-left: 200px;
}
.nav-link{
    color: #fff;
}

.herobtn{
    background-color: var(--secondaryColor);
    color: #fff;
    border-radius: 8px;
    padding: 12px 35px;
}
.hero{
    margin-top: -5%;
}
.headline{
    color: var(--secondaryColor);
    font-family: montserrat;
    font-weight: 700;
    margin-top: -10%;
}
.heroimg{
    width: 50em;
    height: 100%;
}
.herobtns :nth-child(1){
    background-color: var(--colorTwo);
}
.herobtns button:hover{
    background-color: var(--secondaryColor);
    transition: .6s ease-in-out;
    color: #fff;
}
.main_container{
    margin: 6% в в 36%;
    position: relative;
    width: 25%}
    
 .image{
    display: block;
    width: 100%;
    height: auto;
 }
    
 .overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    width: 180%;
    height: 6;
    transition: .5s ease;
 }
.overlay:hover{
    height: 100%;
}

.featured{
    display: flex;
    place-content: center;
    z-index: 2;
    background-color: #676f9d2d;
    position: relative;
}
.overlay{
    position: absolute;
    width: 100%;
    background-color: #1A202C;
}
.featured img{
    border-radius: inherit;
    z-index: 0;
}
.productDiv a img{
    transform: scale(0.8);
    transition: 0.8s ease-in-out;
}
.productDiv a img:hover{
    transform: scale(0.9);
}
.imageBox{
    padding-bottom: 100px;
}
a{
    cursor: pointer;
}
.imageBox a img{
    transform: scale(0.6);
}
.imageBox a img:hover{
    transform: scale(0.75);
    transition: 0.9s ease-in-out;
}
.Ptitle{
    color: var(--mainColor);
}
.price{
    color: var(--primaryColor);
    font-size: 1.2em;
}
.buyButton{
    background-color: #2D3250;
    padding: 14px 18px;
    border: none;
    outline: none;
    color: #fff;
    display: none;
}

@media screen and (max-width: 600px){
    
    .top{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .top .child{
        width: 100%;
    }
    .top .child form input{
        width: 20em;
    }
    .top .topThird a{
        justify-content: center;
    }
    .navbar-toggler{
        color: var(--secondaryColor);
        outline: 1px solid var(--secondaryColor);
       
    }
    
    .navbar-collapse{
        padding-left: 0px;
    }
    .heroimg{
        display: none;
    }
    .productsdiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mt-4{
        display: grid;
        justify-content: center;
        align-items: center;
    }
}